<div class="container-fluid">
    <div class="side-body">
    <div class="row">
        <div class="col-xs-12 hidden-lg hidden-md">
            <ol class="breadcrumb">
                <li>Home</li>
                <li class="active">Approval</li>
            </ol>           
        </div>
    </div>
        <ol class="breadcrumb pull-right hidden-xs hidden-sm">
            <li>Home</li>
            <li class="active">Approval</li>
        </ol>
        <div class="page-title">
            <span class="title">Institute List</span>
            <div class="description">All registered institutes can be viewed here</div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-offset-3 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">All Institute</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Institute Name</th>
                                                <th>Email ID</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="inst in vm.institutes">
                                                <td>{{ inst.institute_name }}</td>
                                                <td>{{ inst.email }}</td>
                                                <td>
                                                    <input type="checkbox" class="input-checkbox" value="" ng-model="inst.is_approved" ng-click="vm.setStatus($index)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>