 <div class="container-fluid">
        <div class="side-body">
         
            <div class="page-title">
                <span class="title">Admission Control Panel</span>
                <div class="description">Enter Student detail</div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-lg-offset-1 col-lg-10">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <div class="title">Student Detail</div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                        <div class="panel-body">
                        <div class="step">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="step" class="active">
                                    <a href="#stepv1" id="step1-vtab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                        <div class="icon fa fa-user"></div>
                                        <div class="step-title">
                                            <div class="title">Personal</div>
                                            <!--<div class="description">Enter Personal details</div>-->
                                        </div>
                                    </a>
                                </li>
                                <li role="step" class="">
                                    <a href="#stepv2" role="tab" id="step2-vtab" data-toggle="tab" aria-controls="profile" aria-expanded="false">
                                        <div class="icon fa fa-check-circle-o"></div>
                                        <div class="step-title">
                                            <div class="title">Other</div>
                                            <!--<div class="description">Enter Other details</div>-->
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- First Tab -->
                                <div role="tabpanel" class="tab-pane fade active in" id="stepv1" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="pull-left">Academic detail</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_name">Course Name</label>
                                                <input type="text" class="form-control" id="course_name" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_code">Batch Name</label>
                                                <input type="text" class="form-control" id="course_code" ng-model="vm.course_code">
                                            </div>
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="pull-left">Personal detail</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_name">Surname Name</label>
                                                <input type="text" class="form-control" id="Text1" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_code">First Name</label>
                                                <input type="text" class="form-control" id="Text2" ng-model="vm.course_code">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_name">Father's Name</label>
                                                <input type="text" class="form-control" id="Text3" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <div class="form-group">
                                                <label for="course_code">Mother's Name</label>
                                                <input type="text" class="form-control" id="Text4" ng-model="vm.course_code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <label for="course_code">Present Address</label>
                                            <input type="text" class="form-control" id="Text5" ng-model="vm.course_code" aria-multiline="true">
                                        </div>
                                    </div>
                                      <div class="row" style="margin-top: 15px">
                                        <div class="col-lg-3 col-md-3">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <label class="pull-left">Gender</label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <input type="radio" name="gender" id="Text6" value="Male">
                                                    Male                                            
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <input type="radio" name="gender" id="Radio1" value="Female">
                                                    Female                                           
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <label for="course_code">Birth Place</label>
                                            <input type="text" class="form-control" id="Text7" ng-model="vm.course_code" aria-multiline="true">
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <label for="course_code">Date Of Birth</label>
                                            <input type="text" class="form-control" id="Text8" ng-model="vm.course_code" aria-multiline="true">
                                        </div>
                                        <div class="col-lg-3 col-md-3">
                                            <label for="course_code">Mobile No.</label>
                                            <input type="text" class="form-control" id="Text9" ng-model="vm.course_code" aria-multiline="true">
                                        </div>
                                    </div>
                                </div>

                                <!-- Second Tab -->
                                <div role="tabpanel" class="tab-pane fade" id="stepv2" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="pull-left">Other details</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_name">Nationality</label>
                                                        <input type="text" class="form-control" id="Text10" ng-model="vm.course_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_code">Mother Tongue</label>
                                                        <input type="text" class="form-control" id="Text11" ng-model="vm.course_code">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_code">Domiciled In</label>
                                                        <input type="text" class="form-control" id="Text15" ng-model="vm.course_code">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_name">Category</label>
                                                        <input type="text" class="form-control" id="Text12" ng-model="vm.course_name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_code">Caste</label>
                                                        <input type="text" class="form-control" id="Text13" ng-model="vm.course_code">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label for="course_code">Sub Caste</label>
                                                        <input type="text" class="form-control" id="Text14" ng-model="vm.course_code">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label for="course_name">Other Contact No.</label>
                                                        <input type="text" class="form-control" id="Text16" ng-model="vm.course_name">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                           <!-- <div class="row">
                                                <div class="col-lg-12">
                                                    <label class="pull-left">Student Photo</label>
                                                </div>
                                            </div>-->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <!--<div class="inline">
                                                        <img src="../../img/profile/profile-1.jpg" style="max-height: 200px; max-width: 150px" />
                                                           
                                                        <input type="file" class="" accept="image/*" style="margin-top: 15px">
                                                    </div>-->

                                                         <div class="caption">
                                                             <h4>Student's Photo</h4>
                                                             </div>
                                                        <img src="../../img/profile/profile-1.jpg" style="max-height: 200px; max-width: 150px" />
                                                        <div class="caption">
                                                            
                                                            <input type="file" class="" accept="image/*" style="margin-top: 15px">
                                                            
                                                        </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h4 class="pull-left">Previous Institute details</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group">
                                                <label for="course_name">Previous Year's Institute Name</label>
                                                <input type="text" class="form-control" id="Text17" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="course_name">Previous Year's Course Name</label>
                                                <input type="text" class="form-control" id="Text18" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="course_name">Percentage</label>
                                                <input type="text" class="form-control" id="Text19" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="course_name">Grade</label>
                                                <input type="text" class="form-control" id="Text20" ng-model="vm.course_name">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="caption ">
                            <div class="">
                                <input type="button" value="Save" class="btn btn-primary">
                                <input type="button" value="Clear" class="btn btn-primary">
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>