 <div class="container-fluid">
        <div class="side-body padding-top">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Student Information
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Select Course</label>
                                <input type="text" class="form-control" ng-model="vm.student.course">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Select Batch</label>
                                <input type="text" class="form-control" ng-model="vm.student.batch">
                            </div>
                        </div>
                        <div class="col-lg-offset-3 col-lg-3">
                            <div class="form-group">
                                <label>Student ID</label>
                                <input type="text" placeholder="press enter to search" class="form-control" ng-model="vm.student_id" />
                            </div>
                        </div> 
                    </div>
                    <hr />
                    <div class="pull-left">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Surname</label>
                                    <input type="text" class="form-control" ng-model="vm.student.SurName">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" ng-model="vm.student.firstName">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input type="text" class="form-control" ng-model="vm.student.middleName">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" ng-model="vm.student.lastName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Present Address</label>
                                <textarea class="form-control" ng-model="vm.student.address"></textarea>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="row pull-right">
                        <div class="col-lg-12">
                            <div class="text-center">
                              <img src="//placehold.it/100" class="avatar" alt="avatar">
                              <h6>Upload a different photo...</h6>
                              
                              <input type="file" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" ng-model="vm.student.mobile">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Date Of Birth</label>
                                <input type="text" class="form-control" ng-model="vm.student.dob">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Birth Place </label>
                                <input type="text" class="form-control" ng-model="vm.student.birthPlace">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Mother Tongue</label>
                                <input type="text" class="form-control" ng-model="vm.student.motherTongue">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Nationlity</label>
                                <input type="text" class="form-control" ng-model="vm.student.nationality">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Category</label>
                                <input type="text" class="form-control" ng-model="vm.student.category">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Caste</label>
                                <input type="text" class="form-control" ng-model="vm.student.caste">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label>Sub Caste</label>
                                <input type="text" class="form-control" ng-model="vm.student.subCaste">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>