<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
    </div>
</nav>
<!-- Main Content -->
<div class="container-fluid">
    <div class="side-body padding-top" style="margin-right:0;margin-left:0">
    	<div class="row">
    		<div class="col-sm-offset-4 col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-5 col-sm-6">
        		<div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Login</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" ng-submit="vm.login()" novalidate>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">user</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputEmail3" placeholder="user name" ng-model="vm.user_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="inputPassword3" placeholder="password" ng-model="vm.password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" class="btn btn-default pull-right" value="Sign in">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    		</div>
    	</div>
    </div>
</div>