<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
    </div>
</nav>
<div class="container-fluid">
    <div class="side-body">
        <div class="page-title">
            <span class="title">Institute Registration</span>
            <div class="description"></div>
        </div>
        <div>
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  
<div class="panel fresh-color panel-primary">
    <!--<div class="panel-heading">
            <h3 class="panel-title">Institute Registration Form</h3>
            </div>-->
            <div class="panel-body">
            <form role="form" ng-submit="vm.register();" novalidate>
                <blockquote>
                    <div class="fa fa-graduation-cap"> </div> About Institute
                </blockquote>
            <div class="panel fresh-color panel-info">
            
                <!--<div class="panel-heading">
                    <div class="fa fa-graduation-cap"> </div> About Institute
                </div>-->
                
                <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="institute_name" id="institute_name" class="form-control " placeholder="Institute Name" ng-model="vm.inst.institute_name">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="mailing_addr1" id="mailing_addr1" class="form-control " placeholder="Mailing Address1" ng-model="vm.inst.address_line_1">
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="mailing_addr2" id="mailing_addr2" class="form-control " placeholder="Mailing Address2" ng-model="vm.inst.address_line_2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="institute_city" id="institute_city" class="form-control " placeholder="City" ng-model="vm.inst.city">
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <label>Select State</label>
                        <select ng-model="vm.inst.state" class="form-control">
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Calcatta">Calcatta</option>
                        </select>
                    </div>
                   <div class="col-lg-3 col-md-3">
                        <div class="">
                            <input type="text" name="pincode" id="pincode" class="form-control " placeholder="Pincode" ng-model="vm.inst.pincode">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="">
                            <input type="text" name="institute_tel" id="institute_tel" class="form-control" placeholder="Telephone" ng-model="vm.inst.contact_no">
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <label>Select Country</label>
                         <select ng-model="vm.inst.country" class="form-control">
                            <option value="India">India</option>
                            <option value="USA">USA</option>
                            <option value="UK">UK</option>
                            <option value="Australia">Australia</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="">
                            <input type="text" name="institute_stud" id="institute_stud" class="form-control " placeholder="No of Students" ng-model="vm.inst.total_students">   
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="">
                            <input type="text" name="institute_staff" id="institute_staff" class="form-control " placeholder="No of Staff" ng-model="vm.inst.total_staff">
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <input type="email" name="institute_email" id="institute_email" class="form-control " placeholder="Institute Email Address" ng-model="vm.inst.email">    
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="institute_website" id="institute_website" class="form-control " placeholder="Institute Website" ng-model="vm.inst.website">
                        </div>
                    </div>
                    </div>

                    <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 ">
                        <div class="form-group">
                            <label>Institute Type &nbsp&nbsp&nbsp</label>
                            <select ng-model="vm.inst.institute_type">
                                <option value="College">College</option>
                                <option value="School">School</option>
                            </select>
                        </div>
                    </div>
                     <div class="col-xs-12 col-sm-6 col-md-6 ">
                        <div class="form-group">
                            <input type="text" name="instituteid" id="instituteid" class="form-control" placeholder="enter new subdomain for your college" ng-model="vm.inst.subdomain">
                            <p>https://{{ vm.inst.subdomain }}.eduduniya.com</p>
                        </div>
                    </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">                                 
                            <div class="form-group">
                                <label>Upload Government approved documents</label>
                                <input type="file"> 
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>

                <blockquote>
                        <div class="form-inline glyphicon glyphicon-user"></div>  About You
                </blockquote>
            <div class="panel fresh-color panel-info">                        
                <!--<div class="panel-heading">
                    <div class="form-inline glyphicon glyphicon-user"></div>  About You
                </div>-->
                <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name" ng-model="vm.inst.user.first_name">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name" ng-model="vm.inst.user.last_name">
                        </div>
                    </div>
                </div>                            

                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email Address" ng-model="vm.inst.user.email">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="">
                            <input type="text" name="mobile_no" id="mobile_no" class="form-control" placeholder="Mobile No" ng-model="vm.inst.user.mobile_no">
                        </div>
                    </div>
                </div>

<!--                 <div class="row">
                    <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
                        <div class="">
                            <input type="text" name="inst_url" id="inst_url" class="form-control" placeholder="URL with your name on Institute website">
                        </div>
                    </div>
                    
                </div> -->
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-2 col-sm-6 col-md-2">
                        <div class="">
                            <input type="submit" value="Save" class="btn btn-success btn-block">
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6 col-md-2">
                        <div class="">
                            <input type="reset" value="Clear" class="btn btn-success btn-block">
                        </div>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
        </div>
    </div>
</div>