<div class="container-fluid">
    <div class="side-body">
    <div class="row">
        <div class="col-xs-12 hidden-lg hidden-md">
            <ol class="breadcrumb">
                <li><a ui-sref="settings">Settings</a></li>
                <li class="active">Subjects</li>
            </ol>           
        </div>
    </div>
        <ol class="breadcrumb pull-right hidden-xs hidden-sm">
            <li><a ui-sref="settings">Settings</a></li>
            <li class="active">Subjects</li>
        </ol>
        <div class="page-title">
            <span class="title">Subjects Control Panel</span>
            <div class="description">add/remove/edit subjects</div>
        </div>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">Add Subjects to Batch</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Select Batch</label>
                                    <select name="batch_name" class="form-control" ng-model="vm.batch_id" ng-change="vm.getSubjects()">
                                        <option selected="true">Select...</option>
                                        <option ng-repeat="batch in vm.batches" value="{{ batch.uid }}">{{ batch.name }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="pull-left">Compulsory Subjects</label>
                                <a class="pull-right" data-toggle="modal" data-target="#CompSubjectModal">+ more subjects</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Subject Code</th>
                                                <th>Subject Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="subject in vm.cSubjects">
                                                <td>{{ subject.subject_code }}</td>
                                                <td>{{ subject.subject_name }}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-xs-12">
                                <label class="pull-left">Electives</label>
                                <a class="pull-right" data-toggle="modal" data-target="#ElecSubjectModal">+ elective group</a>
                            </div>
                        </div>
                        <div ng-repeat="elective in vm.electives">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label class="pull-left">Elective {{ $index + 1 }} {{ elective.elective_name }}</label>
                                    <a class="pull-right" href="#">+ subjects to elective</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Subject Code</th>
                                                    <th>Subject Name</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="subject in elective.subjects">
                                                    <td>{{ subject.subject_code }}</td>
                                                    <td>{{ subject.subject_name }}</td>
                                                    <td></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CompSubjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Compulsory Subject: {{ vm.cSubjectName }}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Subject Name</label>
                            <input type="text" class="form-control" ng-model="vm.cSubjectName">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>Subject Code</label>
                            <input type="text" class="form-control" ng-model="vm.cSubjectCode">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.addSubject('compulsory')" data-dismiss="modal">Add Subject</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ElecSubjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Elective</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Elective Name</label>
                            <input type="text" class="form-control" ng-model="vm.electiveName">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <th>Subject Name</th>
                                    <th>Subject Code</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="subject in vm.newElectSubjects">
                                        <td><input type="text" class="form-control" ng-model="subject.subject_name"></td>
                                        <td><input type="text" class="form-control" ng-model="subject.subject_code"></td>
                                        <td>X</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <a ng-click="vm.addMoreElectSubjects()">add subject</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="vm.addSubject('elective')" data-dismiss="modal">Add Elective</button>
            </div>
        </div>
    </div>
</div>